<!DOCTYPE html>
<html>
<head>
	<title>EFS</title>
	<link rel="stylesheet" type="text/css" href="/views/main.css">
	<script type="text/javascript" src="/views/main.js"></script>
</head>
<body>
	<header>
		<div>
			7th Semester Project - BTech - ECE
		</div>
	</header>
	<div id="search">
		<div id="logoText">
			Academic Expert Finder
		</div>
		<div id="form">
			
				<input type="text" name="query" placeholder="Your Query Goes Here..." autocomplete="off" id="searchBox" onkeydown="keyDown(event)">
				<button onclick="search()"> Search </button>
			
		</div>
		<div id="results">
			
			
		</div>
	</div>
	<footer>
		Copyright 2017 &copy;
	</footer>
</body>
</html>