<!DOCTYPE html>
<html>
<head>
	<title>EFS</title>
	<link rel="stylesheet" type="text/css" href="/views/main.css">
	<script type="text/javascript" src="/views/main.js"></script>
</head>
<body>
	<header>
		<div>
			7th Semester Project - BTech - ECE
		</div>
	</header>
	<div id="search">
		<div id="logoText">
			Academic Expert Finder
		</div>
		<div id="form">
			
				<input type="text" name="query" placeholder="Your Query Goes Here..." autocomplete="off" id="searchBox" onkeydown="keyDown(event)">
				<button onclick="search()"> Search </button>
			
		</div>
		<div id="results">
			<div class="eachResult">
				<div class="authorInfo">Abhishek Deora [ 1997 - 2015 ]</div>
				<div class="authorPubInfo">
					<div>Total Piblication: 1212</div>
					<div>Citation Count: 121212</div>
					<div>Average Citation: 56</div>
				</div>
			</div>
			<div class="eachResult">
				<div class="authorInfo">Abhishek Deora [ 1997 - 2015 ]</div>
				<div class="authorPubInfo">
					<div>Total Piblication: 1212</div>
					<div>Citation Count: 121212</div>
					<div>Average Citation: 56</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		Copyright 2017 &copy; Saloni Mittal
	</footer>
</body>
</html>